.fulfillmentImg { width: auto; max-width: 70%; height: auto; max-height: 100%; }
.fulfillmentLogo { width: auto; max-width: 15rem; height: auto; max-height: 100%; }
.loginBtn { min-width: 120px !important; }