.mainBackground { background-color: #537895; background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); color: #FFF }

/* --------------------------------------- */
/* -------------Text Styles--------------- */
/* --------------------------------------- */

.mainTextColor { color: #4C4C4C }

/* --------------------------------------- */
/* ------------Images Styles-------------- */
/* --------------------------------------- */

.responsiveImage { width: auto; height: auto; max-height: 100%; }

/* --------------------------------------- */
/* ------------Inputs Styles-------------- */
/* --------------------------------------- */

.mainSearchBar { width: 100%; max-width: 40rem;}